<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <p>
          As an undergraduate studying history and philosophy, I was inspired by the struggles and triumphs of humankind. Studying environmental ethics impressed upon me the severity of the environmental degradation and  suffering happening in the world. I realized how far humanity has come and how far it still needs to go. I became dedicated to making a positive difference any way I could.
        </p>

        <p>
          After graduating in 2010, I enrolled in a masters in political science to study environmental policy. I quickly realized in order to understand the complex problems facing the world, I needed to pursue interdisciplinary research. This led me to leave the program and begin a period of intensive self-directed learning and further education in the STEM fields. That singular pursuit eventually led me to software development and to become a technical contributor to impact-driven organizations across multiple domains.
        </p>
        
        <p>
          Today, I am a senior software engineer at <a href="https://squareup.com">Square, Inc</a>, where we are building tools to empower people to participate and thrive in the economy. I am also a co-founder of the <a href="https://specollective.org">Sustainable Progress and Equality Collective (SPEC)</a>, which is an open learning organization that empowers individuals to be catalysts for positive change.
        </p>
      </div>
      <div class="col-sm-6">
        <h3 style="margin-top:0;">Highlights</h3>
        <ul>
          <li>
            Lead development of a mobile application portal for a virtual agronomy platform. Managed the project from requirements gathering to deployment and maintenance.
          </li>
          <li>
            Integrated digital course material management service provider's
            billing process with leading enterprise student information system
            via REST API. Automated manual reconciliation processes for university accounts receivable departments.
          </li>
          <li>
            Developed an automated call-centre service for a Fortune 500 pharmaceutical company's product release. Delivered solution two months ahead of schedule and $15K under budget.
          </li>
          <li>
            Invited by the College of Saint Rose to present research on the use of crowdsourcing to address the problems of corporate greed and income inequality.
          </li>
          <li>
            Guest lecturer on environmental physics and sustainable technologies at the State University of New York at Albany.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
