<section class="tout" id="interests">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h3>Skills & Experience</h3>
        <ul>
          <li>Software Engineering</li>
          <li>Engineering Management</li>
          <li>Project Management</li>
          <li>Research & Development</li>
          <li>Tutoring & Mentoring</li>
          <li>Public Speaking</li>
          <li>Distributed Management & Collaboration</li>
          <li>Customer Success & Quality Assurance</li>
          <li>Technical Writing</li>
        </ul>
        <h3>Projects & Organizations</h3>
        <ul>
          <li><a href="https://opencollective.com/spec">Sustainable Progress and Equality Collective (SPEC)</a></li>
          <li><a href="https://www.thersa.org/action-and-research/rsa-projects/creative-learning-and-development-folder/cities-of-learning">Cities of Learning</a>
          </li>
          <li>
            <a href="https://www.codementor.io/jtorreggiani">Codementor</a>
          </li>
          <li><a href="https://www.effectivealtruism.org/">Effective Altruism</a></li>
          <li><a href="https://www.givingwhatwecan.org/">Giving What You Can Pledge</a></li>
        </ul>
      </div>
      <div class="col-sm-6">
        <h3>Research Areas</h3>
        <ul>
          <li>Open Source & Open Science</li>
          <li>Artificial Intelligence</li>
          <li>Citizen Science & Engineering</li>
          <li>Sustainable Agriculture & Permaculture</li>
          <li>Global Existential Risk</li>
          <li>Climate Change</li>
          <li>Social Justice</li>
          <li>STEAM Education</li>
          <li>Sustainable Development</li>
        </ul>
      </div>
      <div class="col-sm-6">
        <h3 style="margin-top:1rem;">Personal Interests</h3>
        <ul>
          <li>History</li>
          <li>Philosophy</li>
          <li>Hiking</li>
          <li>Music</li>
          <li>Space Exploration</li>
          <li>Gardening</li>
          <li>Cooking</li>
          <li>Martial Arts</li>
          <li>Film & Acting</li>
          <li>Travel & Foreign Languages</li>
        </ul>
      </div>
    </div>
  </div>
</section>
