<section class="tout" id="interests">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Interests</h2>
        <hr />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <h3 style="margin-top:0">Personal</h3>
        <ul>
          <li>Artificial Intelligence</li>
          <li>Citizen Science & Engineering</li>
          <li>Cooking</li>
          <li>Global Existential Risk</li>
          <li>Hiking</li>
          <li>History & Philosophy</li>
          <li>Space Exploration</li>
          <li>STEAM Education</li>
          <li>Sustainable Development</li>
          <li>Travel & Foreign Languages</li>
        </ul>
      </div>
      <div class="col-sm-6">
        <h3 style="margin-top:0">Open Source Contributions</h3>
        <ul>
          <li><b><a href="http://tau-prolog.org/">Tau Prolog</a></b> is a Prolog interpreter fully implemented in JavaScript.</li>
          <li><b><a href="https://github.com/willwebberley/CENode">CENode</a></b> is a pure JavaScript implementation of the ITA project's Controlled English (CE) Store.</li>
        </ul>
        <h3>Service</h3>
        <ul>
          <li><a href="https://www.thersa.org/action-and-research/rsa-projects/creative-learning-and-development-folder/cities-of-learning">Cities of Learning: Plymouth</a>
          </li>
          <li>
            <a href="https://www.codementor.io/jtorreggiani">Codementor</a>
          </li>
          <li><a href="https://www.effectivealtruism.org/">Effective Altruism</a></li>
          <li><a href="https://www.givingwhatwecan.org/">Giving What You Can Pledge</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
